{
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "env": {
        "browser": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 2021,
        "sourceType": "module",
        "ecmaFeatures": {
            "modules": true,
            "impliedStrict": true,
            "jsx": false
        },
        "project": "./tsconfig.json"
    },
    "extends": [
        "eslint:all",
        "plugin:@typescript-eslint/all"
    ],
    "rules": {
        "@typescript-eslint/comma-spacing": "off",
        "@typescript-eslint/no-unnecessary-boolean-literal-compare": "warn",
        "@typescript-eslint/prefer-return-this-type": "warn",
        "@typescript-eslint/non-nullable-type-assertion-style": "warn",
        "@typescript-eslint/dot-notation": "off",
        "@typescript-eslint/class-literal-property-style": "warn",
        "@typescript-eslint/no-non-null-asserted-optional-chain": "warn",
        "no-self-compare": "warn",
        "no-nested-ternary": "off",
        "@typescript-eslint/object-curly-spacing": "off",
        "@typescript-eslint/sort-type-union-intersection-members": "off",
        "@typescript-eslint/no-useless-constructor": "off",
        "@typescript-eslint/prefer-namespace-keyword": "off",
        "@typescript-eslint/no-namespace": "off",
        "@typescript-eslint/type-annotation-spacing": "off",
        "@typescript-eslint/no-dupe-class-members": "off",
        "@typescript-eslint/no-use-before-define": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/no-magic-numbers": "off",
        "@typescript-eslint/no-explicit-any": "warn",
        "@typescript-eslint/no-unused-vars": "off",
        "@typescript-eslint/typedef": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/prefer-function-type": "off",
        "@typescript-eslint/prefer-readonly-parameter-types": "off",
        "@typescript-eslint/require-array-sort-compare": "warn",
        "@typescript-eslint/no-unsafe-member-access": "warn",
        "@typescript-eslint/no-base-to-string": "warn",
        "@typescript-eslint/no-unsafe-return": "warn",
        "@typescript-eslint/no-unnecessary-qualifier": "warn",
        "@typescript-eslint/explicit-function-return-type": [
            "off",
            {
                "allowExpressions": true,
                "allowHigherOrderFunctions": true,
                "allowTypedFunctionExpressions": true
            }
        ],
        "@typescript-eslint/strict-boolean-expressions": "warn",
        "@typescript-eslint/no-unnecessary-condition": "warn",
        "@typescript-eslint/no-extraneous-class": "off",
        "@typescript-eslint/no-type-alias": "off",
        "@typescript-eslint/member-delimiter-style": "warn",
        "@typescript-eslint/brace-style": "off",
        "@typescript-eslint/generic-type-naming": "off",
        "@typescript-eslint/indent": "off",
        "@typescript-eslint/interface-name-prefix": "off",
        "@typescript-eslint/no-empty-interface": "off",
        "@typescript-eslint/no-inferrable-types": "warn",
        "@typescript-eslint/member-ordering": "off",
        "@typescript-eslint/array-type": "warn",
        "@typescript-eslint/no-extra-parens": "off",
        "@typescript-eslint/prefer-string-starts-ends-with": "off",
        "@typescript-eslint/restrict-plus-operands": "off",
        "@typescript-eslint/require-await": "warn",
        "@typescript-eslint/no-misused-promises": [
            "warn",
            {
                "checksVoidReturn": false
            }
        ],
        "@typescript-eslint/no-floating-promises": "warn",
        "@typescript-eslint/prefer-includes": "warn",
        "@typescript-eslint/explicit-member-accessibility": "off",
        "@typescript-eslint/no-parameter-properties": "off",
        "@typescript-eslint/unbound-method": "off",
        "@typescript-eslint/no-unnecessary-type-assertion": "warn",
        "@typescript-eslint/await-thenable": "warn",
        "@typescript-eslint/semi": "warn",
        "@typescript-eslint/no-empty-function": "off",
        "@typescript-eslint/consistent-type-definitions": "off",
        "@typescript-eslint/consistent-type-imports": "warn",
        "@typescript-eslint/quotes": "warn",
        "@typescript-eslint/space-before-function-paren": "off",
        "@typescript-eslint/restrict-template-expressions": "off",
        "@typescript-eslint/no-unused-vars-experimental": "off",
        "@typescript-eslint/prefer-nullish-coalescing": "warn",
        "@typescript-eslint/no-unused-expressions": "off",
        "@typescript-eslint/prefer-optional-chain": "warn",
        "@typescript-eslint/prefer-readonly": "warn",
        "@typescript-eslint/camelcase": "off",
        "@typescript-eslint/no-untyped-public-signature": "off",
        "@typescript-eslint/prefer-regexp-exec": "warn",
        "@typescript-eslint/no-throw-literal": "warn",
        "@typescript-eslint/no-require-imports": "off",
        "@typescript-eslint/no-var-requires": "off",
        "@typescript-eslint/no-unnecessary-type-arguments": "warn",
        "@typescript-eslint/ban-ts-comment": "off",
        "@typescript-eslint/promise-function-async": "warn",
        "@typescript-eslint/switch-exhaustiveness-check": "warn",
        "@typescript-eslint/no-unsafe-call": "warn",
        "@typescript-eslint/method-signature-style": "off",
        "@typescript-eslint/init-declarations": "off",
        "@typescript-eslint/no-unsafe-assignment": "warn",
        "@typescript-eslint/no-unsafe-argument": "warn",
        "@typescript-eslint/prefer-enum-initializers": "warn",
        "@typescript-eslint/lines-between-class-members": "off",
        "@typescript-eslint/return-await": [
            "warn",
            "always"
        ],
        "@typescript-eslint/ban-types": "warn",
        "@typescript-eslint/no-redeclare": "off",
        "@typescript-eslint/no-duplicate-imports": "warn",
        "@typescript-eslint/no-loop-func": "warn",
        "@typescript-eslint/no-shadow": "warn",
        "@typescript-eslint/no-implicit-any-catch": "off",
        "@typescript-eslint/consistent-indexed-object-style": "warn",
        "@typescript-eslint/no-unnecessary-type-constraint": "warn",
        "@typescript-eslint/no-confusing-void-expression": "off",
        "@typescript-eslint/comma-dangle": "warn",
        "@typescript-eslint/no-extra-semi": "warn",
        "@typescript-eslint/naming-convention": [
            "warn",
            {
                "selector": "variable",
                "format": [
                    "camelCase",
                    "PascalCase"
                ]
            }
        ],
        "@typescript-eslint/no-this-alias": [
            "warn",
            {
                "allowDestructuring": false,
                "allowedNames": [
                    "self"
                ]
            }
        ],
        "no-constructor-return": "warn",
        "accessor-pairs": "warn",
        "consistent-this": "off",
        "no-lone-blocks": "off",
        "no-useless-return": "warn",
        "no-unmodified-loop-condition": "warn",
        "no-promise-executor-return": "warn",
        "lines-between-class-members": "off",
        "linebreak-style": "off",
        "sort-imports": "off",
        "object-curly-spacing": "off",
        "func-style": "off",
        "no-inner-declarations": "off",
        "space-before-function-paren": "off",
        "no-fallthrough": "off",
        "space-before-blocks": "off",
        "function-paren-newline": "off",
        "id-length": "off",
        "padded-blocks": "off",
        "camelcase": "off",
        "function-call-argument-newline": "off",
        "one-var": "off",
        "quote-props": "off",
        "sort-keys": "off",
        "no-ternary": "off",
        "curly": "off",
        "no-undefined": "off",
        "nonblock-statement-body-position": "off",
        "no-throw-literal": "warn",
        "prefer-exponentiation-operator": "warn",
        "no-undef": "off",
        "comma-dangle": "off",
        "prefer-template": "off",
        "prefer-const": "off",
        "operator-linebreak": [
            "warn",
            "before",
            {
                "overrides": {
                    "=": "ignore",
                    "+": "ignore",
                    "?": "ignore"
                }
            }
        ],
        "no-multiple-empty-lines": "warn",
        "array-bracket-newline": "off",
        "array-element-newline": "off",
        "max-len": [
            "warn",
            85
        ],
        "arrow-parens": "off",
        "dot-location": "off",
        "max-params": "off",
        "no-labels": "off",
        "wrap-regex": "warn",
        "multiline-comment-style": "off",
        "object-property-newline": "off",
        "multiline-ternary": "off",
        "no-sync": "off",
        "no-void": "warn",
        "new-cap": "off",
        "no-console": "off",
        "implicit-arrow-linebreak": "off",
        "max-statements": "off",
        "init-declarations": "off",
        "newline-per-chained-call": "off",
        "capitalized-comments": "off",
        "no-negated-condition": "off",
        "strict": "warn",
        "no-mixed-operators": "off",
        "prefer-destructuring": "off",
        "no-plusplus": "off",
        "no-inline-comments": "off",
        "spaced-comment": "off",
        "no-shadow-restricted-names": "warn",
        "no-bitwise": "off",
        "no-multi-assign": "off",
        "max-statements-per-line": "off",
        "line-comment-position": "off",
        "semi-spacing": "warn",
        "no-param-reassign": "off",
        "yoda": "off",
        "operator-assignment": "warn",
        "no-continue": "off",
        "no-implicit-coercion": "off",
        "no-unused-expressions": "warn",
        "max-lines-per-function": "off",
        "max-lines": "off",
        "no-alert": "off",
        "no-lonely-if": "off",
        "no-else-return": "off",
        "no-constant-condition": "off",
        "complexity": "off",
        "no-empty": "warn",
        "array-callback-return": "warn",
        "no-unreachable": "off",
        "no-case-declarations": "warn",
        "require-atomic-updates": "warn",
        "no-shadow": "off",
        "max-classes-per-file": "off",
        "no-await-in-loop": "warn",
        "no-loop-func": "off",
        "switch-colon-spacing": "off",
        "no-warning-comments": "off",
        "space-in-parens": "off",
        "no-trailing-spaces": "off",
        "block-spacing": "off",
        "no-multi-spaces": "off",
        "template-curly-spacing": "off",
        "no-useless-concat": "warn",
        "consistent-return": "off",
        "default-case": "off",
        "eol-last": "warn",
        "object-shorthand": "warn",
        "no-duplicate-imports": "off",
        "eqeqeq": "warn",
        "no-eq-null": "warn",
        "no-var": "warn",
        "wrap-iife": "warn",
        "vars-on-top": "warn",
        "no-underscore-dangle": "warn",
        "no-tabs": "warn",
        "prefer-arrow-callback": "warn",
        "guard-for-in": "warn",
        "dot-notation": "off",
        "func-names": "warn",
        "sort-vars": "off",
        "handle-callback-err": "off",
        "no-return-assign": "warn",
        "class-methods-use-this": "off",
        "lines-around-comment": "off",
        "require-unicode-regexp": "warn",
        "prefer-named-capture-group": "warn",
        "no-invalid-this": "off",
        "arrow-body-style": "off",
        "no-undef-init": "warn",
        "coma-spacing": "off",
        "no-redeclare": "off",
        "semi-style": "warn",
        "constructor-super": "off",
        "comma-style": "off",
        "no-confusing-arrow": "off"
    }
}